/* Reset & Basic style*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* Makes clicking and scrolling smooth */
    scroll-behavior: smooth;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #0f172a; /* dark blue*/
    color: #ffffff;
    /* Add Padding to top so content is not hidden behind the flex nav */
    padding-top: 60px;
}
/* Navigation bar style and make it fixed */
.navbar{
    position:fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,0.05);
    padding: 10px 30px;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    display: flex;
    gap: 20px;
    border: 2px solid black;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease;
}
.navbar a:hover{
    color: #1abc9c; /* Change the color on hover */
}
section{
    padding: 60px 20px;
    min-height: 100vh; /* Makes every section take up full screen */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* alternating color for visual representation */
#home{ 
    /* background-color: #ecf0f1; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px; */
}
#about {background-color: #bdc3c7;}
#blog {background-color: #ecf0f1;}
#contact {background-color: #2c3e50; color: white;}
h1{ 
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 700;
}
p{ max-width: 600px;margin: 0 auto 20px auto; font-size: 1.2rem;}
/* contact form styling */
.contact-form input, .contact-form textarea{
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.contact-form button{
    padding: 10px 30px;
    background-color: #1abc9c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
#blog-section{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
#dev-image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
#dev-image:hover{
    box-shadow: 0 0 40px rgba(237, 229, 21, 0.2);
}
.highlight{
    color:#ff2e63;
}